/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body  {
    font-family: 'Calibri', sans-serif;
    font-size: 0.9em;
}

body a {
    text-decoration: none;
    color: orange;
}
body a:hover {
    text-decoration: none;
    color: #00CC00;
}

/*header*/

h1 {
    display: none;
}
#logo {
    margin-top: 3em;
    width: 25%;
}
header { 
    width: 80%;
    height: 160px;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
header li { 
    display: inline-block;
}
header ul {
    float: right;
}
header li:after {
  content: "|";
  color: orange;
  padding: 0 0.7em;
}
header li.last:after {
  display: none;
}

.main-nav {
    width: 68%;
    height: 2em;
    /*border: 1px solid red;*/
    float: right;
    margin-top: 5em;
}
.main-nav li {
    margin-top: 0%;
    padding-bottom: 0.8em;
}

/*content*/
 
.wrapper {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    background-color: #E6E6E6;
    overflow: none;
    position: relative;
}
.img-side {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
.wrapper ul {
    max-width: 327px;
}
.wrapper li {
    padding-top: 1.5em;
}
.wrapper img {
    margin-left: 1em;
}
/*footer*/

footer {
    width: 70%;
    font-size: 1em;
    border: 1px solid red;
    margin: 0 auto;
    padding-top: 2em;
}

.contact {
    text-transform: uppercase;
    margin-top: 0.5em;
    width: 

}
.networks li {
    display: inline-block;
    margin-top: 0.5em;
    float: right;
}
.networks a {
    background: url("../img/social-media-sprite.png");
    width: 60px;
    height: 60px;
    display: block;
    opacity: 0.8;
}
.networks a:hover {
    opacity: 1;
}
.networks a span {
    display: none;
}
.networks a.facebook {
    background-position: 0px 0px;
}
.networks a.twitter {
    background-position: 0px -70px;
}
.networks a.e-mail {
    background-position: 0px -140px;
}


/*media queries*/

@media screen and (max-width: 889px) {
  .img-side {
    display: none;
  }
}
